
@media only screen and (min-width: 1101px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 100vh;
        background: url("../images/bg-desktop.svg")  no-repeat fixed;
        background-position: 28% 35%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size:contain;
    }
}
@media only screen and (max-width:1100px) and (min-width: 900px){

.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100vh;
    background: url("../images/bg-mobile.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    justify-content: start;
    overflow: hidden;
    overflow-x: hidden;
}
header{
    padding: 1.85rem 0 0 2.95rem;
    width: 100%;
}
.product__logo{
    margin: 0;
}
.product-image-logo{
    height: clamp(5.25rem, 3.0000rem + 4.0000vw, 5.75rem);
    margin-top: 1.25rem;
}
main{
    display: flex;
    flex-direction: row;
    padding: 1.3rem 0 0 3.25rem; 
    max-width: 100%;
}
#product__image{
    flex: 1;
}
.product-image-illustrator{
    width: 98%;
    height: 96%;
    padding: 0;
    padding-top: 2.35rem;
}
#product__article{
    flex: 0.75;
    justify-content: start;
    padding-top: 4.75rem;
    padding-right: clamp(2.75rem, -1.3000rem + 7.2000vw, 3.65rem);
    padding-bottom: 0;
    padding-left: 1.75rem;
}
.product__article-title{
    font-size: clamp(1.5rem, -0.8833rem + 3.4667vw, 2.8rem);
    padding-bottom: 1rem;
    line-height: var(--lh-h3);
    font-size: 1.65rem;
}
.product__article-paragraph{
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    line-height: var(--lh-h1);
    letter-spacing: 0.04rem;
}
.product__article-btn{
    font-size: var(--fs-300);
    padding: 0.49rem 2.5rem;
    border-radius: var(--radius-7);
    margin: 1.35rem 0 0.25rem;
    box-shadow: 0px 5px 18px -1px rgba(79,75,75,0.75);
    -webkit-box-shadow: 0px 5px 18px -1px rgba(79,75,75,0.75);
    -moz-box-shadow: 0px 5px 18px -1px rgba(79,75,75,0.75);
}
footer{
    margin: 0;
    margin-top: 4.5rem;
    padding: 0;
    padding-right: 3.85rem;
    width: 100%;
}
.twitter-icon{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;
    margin-left: 0.75rem;
}
.product__article-socialmedia{
    display: flex;
    place-content: flex-end;
    padding-top: 6.5rem;
    justify-content: space-between;
    margin-left: 20rem; 
    width: 20%;
}
}

@media only screen and (max-width:899px) and (min-width:701px){
    .container{
        display: flex;
        height: 100vh;
        width: 100%;
        background: var(--clr-violet) url("../images/bg-mobile.svg") no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow-y: scroll;
    }
    .product__preview-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 0.5fr 0.5fr 0.15fr;
        grid-template-areas:
        'header' 
        'image' 
        'article'
        'footer';
        padding: 0;
        width: 100%;
        height: 100%;
    }
    header{
        padding: 0;
        padding-top: clamp(2.4rem, 0.9724rem + 4.7489vw, 3.05rem);
        padding-left: clamp(2.4rem, 0.5331rem + 6.2100vw, 3.25rem);
        width: 100%;
        grid-area: 'header';
    }
    .product__logo{
        margin: 0;
    }
    .product-image-logo{
        height: clamp(4.5rem, 1.7546rem + 9.1324vw, 5.75rem);
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    #product__image{
        grid-area: 'image';
        padding: 0;
        padding-top: clamp(2.5rem, -0.7945rem + 10.9589vw, 4rem);
        padding-left:  clamp(2.8rem, 0.7135rem + 6.9406vw, 3.75rem);
    }
    .product-image-illustrator{
        width: 90%;
        height: 100%;
        padding-top: clamp(0.75rem, 0.2009rem + 1.8265vw, 1rem);
    }
    #product__article{
        grid-area: 'article';
        margin: 0; 
        padding: 0;
        padding-top: clamp(4rem, -2.5890rem + 21.9178vw, 7rem);
    } 
    .product__article-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0;
    }
    .product__article-title{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: clamp(2.05rem, 1.1294rem + 3.0622vw, 2.85rem);
       line-height: var(--lh-h2-5);
       padding: 0;
       padding-bottom: clamp(1.35rem, 0.2518rem + 3.6530vw, 1.85rem);
    }
    .product__article-paragraph{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.05rem, 0.0144rem + 3.4450vw, 1.95rem); 
        line-height: var(--lh-h1); 
        padding-bottom: clamp(1.25rem, 0.2616rem + 3.2877vw, 1.7rem);
    }
    .product__article-btn{
        display: flex;
        align-content: center;
        justify-content: center;
        border: none;
        color: var(--clr-violet);
        font-size: clamp(1.05rem, 0.0616rem + 3.2877vw, 1.5rem);
        margin: 0;
        margin-top: 0.75rem;
        margin-bottom: clamp(1.4rem, 0.9607rem + 1.4612vw, 1.6rem);
        padding: clamp(0.725rem, 0.6701rem + 0.1826vw, 0.75rem);
        width: 55%;
    }
    footer{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: -0.75rem;
        padding: 0;
        padding-top: clamp(2.25rem, 0.6027rem + 5.4795vw, 3rem);
        padding-bottom:clamp(2.5rem, 1.9509rem + 1.8265vw, 2.75rem);
    }
    .twitter-icon{
        height: clamp(2rem, 0.9018rem + 3.6530vw, 2.5rem);
        width: clamp(2rem, 0.9018rem + 3.6530vw, 2.5rem);
        padding-left: clamp(1rem, 0.4509rem + 1.8265vw, 1.25rem);
        margin-left: clamp(0.85rem, -0.0285rem + 2.9224vw, 1.25rem);
    }
    .product__article-socialmedia{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0 0 1rem;
    }
}

@media only screen and (max-width:700px) and (min-width:481px){
  
    .container{
        display: flex;
        height: 100vh;
        width: 100%;
        background: var(--clr-violet) url("../images/bg-mobile.svg") no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        overflow-y: scroll;
    }
    .product__preview-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 0.5fr 0.5fr 0.15fr;
        grid-template-areas:
        'header' 
        'image' 
        'article'
        'footer';
        padding: 0;
        width: 100%;
        height: 100%;
    }
    header{
        padding: 0;
        padding-top: clamp(2.4rem, 0.9724rem + 4.7489vw, 3.05rem);
        padding-left: clamp(2.4rem, 0.5331rem + 6.2100vw, 3.25rem);
        width: 100%;
        grid-area: 'header';
    }
    .product__logo{
        margin: 0;
    }
    .product-image-logo{
        height: clamp(4.5rem, 1.7546rem + 9.1324vw, 5.75rem);
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    #product__image{
        grid-area: 'image';
        padding: 0;
        padding-top: clamp(2.5rem, -0.7945rem + 10.9589vw, 4rem);
        padding-left:  clamp(2.8rem, 0.7135rem + 6.9406vw, 3.75rem);
    }
    .product-image-illustrator{
        width: 90%;
        height: 100%;
        padding-top: clamp(0.75rem, 0.2009rem + 1.8265vw, 1rem);
    }
    #product__article{
        grid-area: 'article';
        margin: 0; 
        padding: 0;
        padding-top: clamp(4rem, -2.5890rem + 21.9178vw, 7rem);
    } 
    .product__article-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0;
    }
    .product__article-title{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: clamp(2.05rem, 1.1294rem + 3.0622vw, 2.85rem);
       line-height: var(--lh-h2-5);
       padding: 0;
       padding-bottom: clamp(1.35rem, 0.2518rem + 3.6530vw, 1.85rem);
    }
    .product__article-paragraph{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.05rem, 0.0144rem + 3.4450vw, 1.95rem); 
        line-height: var(--lh-h1); 
        padding-bottom: clamp(1.25rem, 0.2616rem + 3.2877vw, 1.7rem);
    }
    .product__article-btn{
        display: flex;
        align-content: center;
        justify-content: center;
        border: none;
        color: var(--clr-violet);
        font-size: clamp(1.05rem, 0.0616rem + 3.2877vw, 1.5rem);
        margin: 0;
        margin-top: 0.75rem;
        margin-bottom: clamp(1.4rem, 0.9607rem + 1.4612vw, 1.6rem);
        padding: clamp(0.725rem, 0.6701rem + 0.1826vw, 0.75rem);
        width: 55%;
    }
    footer{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: -0.75rem;
        padding: 0;
        padding-top: clamp(2.25rem, 0.6027rem + 5.4795vw, 3rem);
        padding-bottom:clamp(2.5rem, 1.9509rem + 1.8265vw, 2.75rem);
    }
    .twitter-icon{
        height: clamp(2rem, 0.9018rem + 3.6530vw, 2.5rem);
        width: clamp(2rem, 0.9018rem + 3.6530vw, 2.5rem);
        padding-left: clamp(1rem, 0.4509rem + 1.8265vw, 1.25rem);
        margin-left: clamp(0.85rem, -0.0285rem + 2.9224vw, 1.25rem);
    }
    .product__article-socialmedia{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0 0 1rem;
    }
}
@media only screen and (max-width:480px){

    .container{
        display: flex;
        height: 100vh;
        width: 100%;
        background: var(--clr-violet) url("../images/bg-mobile.svg") no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        overflow-y: scroll;
    } 
    .product__preview-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 0.5fr 0.5fr 0.15fr;
        grid-template-areas:
        'header' 
        'image' 
        'article'
        'footer';
        padding: 0;
        width: 100%;
        height: 100%;
    }
    header{
        padding: 0;
        padding-top: clamp(1.4rem, 0.3130rem + 6.9565vw, 2.4rem);
        padding-left: clamp(1.35rem, 0.2087rem + 7.3043vw, 2.4rem);
        width: 100%;
        grid-area: 'header';
    }
    #product__logo{
        margin: 0;
        height: 1.15rem;
        margin-bottom: clamp(0rem, -3.3152rem + 21.2174vw, 3.05rem);
    }
    .product-image-logo{
        height: clamp(3.25rem, 1.8913rem + 8.6957vw, 4.5rem);
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    #product__image{
        grid-area: 'image';
        padding: 0;
        padding-top: clamp(1.75rem, 0.9348rem + 5.2174vw, 2.5rem);
        padding-left: clamp(1.5rem, 0.0870rem + 9.0435vw, 2.8rem);
    }
    .product-image-illustrator{
        width: 89%;
        height: 100%;
        padding-top: 0.75rem;
    }
    #product__article{
        grid-area: 'article';
        margin: 0; 
        padding: 0;
        padding-top: clamp(2.5rem, 1.9565rem + 3.4783vw, 3rem);
    } 
    .product__article-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }
    .product__article-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: clamp(1rem, -0.7494rem + 9.333vw, 2.05rem);
        line-height: var(--lh-h2); 
        padding-bottom: clamp(1.25rem, 1.7935rem + -3.4783vw, 0.75rem);
    }
    .product__article-build{
        display: block;
    }
    .product__article-your{
        display: block;
    }
    .product__article-paragraph{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: clamp(0.525rem, -0.0457rem + 3.6522vw, 1.05rem);
        font-weight: var(--fs-100);
        line-height: var(--lh-h1); 
        padding-bottom: clamp(0.95rem, 1.0587rem + -0.6957vw, 0.85rem);
    }
    .product__article-btn{
        display: flex;
        align-content: center;
        justify-content: center;
        border: none;
        color: var(--clr-violet);
        font-size: clamp(0.65rem, 0.2152rem + 2.7826vw, 1.05rem);
        margin: 0;
        margin-top: 0.75rem;
        margin-bottom: clamp(2rem, 0.9674rem + 6.6087vw, 2.95rem);
        padding: clamp(0.5rem, 0.0109rem + 3.1304vw, 0.95rem);
        width: 55%;
    }
    footer{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: -0.75rem;
        padding: 0;
        padding-top: clamp(0.5rem, 0.1196rem + 2.4348vw, 0.85rem);
        padding-bottom: clamp(0.25rem, -2.1957rem + 15.6522vw, 2.5rem);
    }
    .twitter-icon{
        height: clamp(1.5rem, 0.9565rem + 3.4783vw, 2rem);
        width: clamp(1.5rem, 0.9565rem + 3.4783vw, 2rem);
        padding-left: clamp(0.7rem, 0.3739rem + 2.0870vw, 1rem);
        margin-left:clamp(0.6rem, 0.3283rem + 1.7391vw, 0.85rem);
    }
     .product__article-socialmedia{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 0 1rem;
    }
}